@media(max-width: 600px) {
    h1 {
        color: #033855;
    }
}


/* For mobile phones: */

@media(max-width:600px) {
    .page-title {
        font-size: 2.5rem;
    }
    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 80px;
    }
    .main-nav li {
        margin: 0 20px;
    }
    /* HOME */
    .home-content {
        margin-top: 20%;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    /* NEWS */
    .new-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }
    #introduction .page-title {
        margin-top: 30px;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    /* MENU */
    .menu-content{
        margin-top: 20%;
    }
    .big-box{
        grid-column: auto;
        grid-row: auto;
    }
    .big-box img{
        height: 100%;
    }
    /* CONTACT */
    #contact .page-title{
        margin-top: 40px;
    }

    /* FORM */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }
    /* 商店資料.地圖 / SNS */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-mao,
    .sns-box {
        width: 100%;
    }
    .sns-box{
        margin-bottom: 30px;
    }
}